<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.messagecenter.client.mapper.MessageLogDetailMapper">

    <insert id="saveMessageLogDetail" parameterType="com.messagecenter.common.entity.MessageLogDetail"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO MessageLogDetail
        (
        `id`
        ,`messageLogId`
        ,`messageQueueSubscriberId`
        ,`messageStatus`
        ,`failedReason`
        ,`failedRetryCount`
        ,`lastReplayFinishedDate`
        ,`inUser`
        ,`inDate`
        ,`lastEditUser`
        ,`lastEditDate`
        )
        VALUES(
        #{id}
        ,#{messageLogId}
        ,#{messageQueueSubscriberId}
        ,#{messageStatus}
        ,#{failedReason}
        ,#{failedRetryCount}
        ,#{lastReplayFinishedDate}
        ,#{inUser}
        ,#{inDate}
        ,#{lastEditUser}
        ,#{lastEditDate}
        )
    </insert>
    <update id="updateMessageLogDetail" parameterType="com.messagecenter.common.entity.MessageLogDetail">
        UPDATE MessageLogDetail
        SET
         messageLogId=#{messageLogId}
        ,messageQueueSubscriberId=#{messageQueueSubscriberId}
        ,messageStatus=#{messageStatus}
        ,failedReason=#{failedReason}
        ,failedRetryCount=#{failedRetryCount}
        ,lastReplayFinishedDate=#{lastReplayFinishedDate}
        ,inUser=#{inUser}
        ,inDate=#{inDate}
        ,lastEditUser=#{lastEditUser}
        ,lastEditDate=#{lastEditDate}
        WHERE id=#{id}
    </update>

    <resultMap id="messageLogDetailWithLog" type="com.messagecenter.common.entity.MessageLogDetail" autoMapping="true">
        <id column="id" property="id"></id>
        <association property="messageLog" javaType="com.messagecenter.common.entity.MessageLog" autoMapping="true"
                     columnPrefix="l_">
        </association>
        <association property="messageQueueSubscriber"
                     javaType="com.messagecenter.common.entity.MessageQueueSubscriber" autoMapping="true"
                     columnPrefix="s_">
        </association>
    </resultMap>

    <select id="getMessageLogDetail" parameterType="map" resultMap="messageLogDetailWithLog">
        SELECT d.*,
        l.id as l_id,
        l.messageQueueInfoId as l_messageQueueInfoId,
        l.messageRaw as l_messageRaw,
        l.messageStatus as l_messageStatus,
        l.failedReason as l_failedReason,
        l.failedRetryCount as l_failedRetryCount,
        l.inUser as l_inUser,
        l.inDate as l_inDate,
        l.lastEditUser as l_lastEditUser,
        l.lastEditDate as l_lastEditDate,
        s.id as s_id,
        s.messageQueueId as s_messageQueueId,
        s.subscriberApiUrl as s_subscriberApiUrl,
        s.retryCount as s_retryCount,
        s.isAutoReplay as s_isAutoReplay,
        s.autoReplayInterval as s_autoReplayInterval,
        s.failedNotifyEmail as s_failedNotifyEmail,
        s.isActive as s_isActive,
        s.inUser as s_inUser,
        s.inDate as s_inDate,
        s.lastEditUser as s_lastEditUser,
        s.lastEditDate as s_lastEditDate
        FROM MessageLogDetail d
        INNER JOIN MessageLog l
        ON d.messageLogId = l.id
        INNER JOIN MessageQueueSubscriber s
        ON d.messageQueueSubscriberId = s.id
        <where>
            <if test="messageStatus > 0">
                d.messageStatus = #{messageStatus}
            </if>
            <if test="getNeedRetry">
                <![CDATA[
                 AND d.failedRetryCount < s.retryCount
                 ]]>
            </if>
            <if test="getNeedAutoReplay">
                <![CDATA[
                 AND d.failedRetryCount >= s.retryCount
                 AND s.isAutoReplay = true
                 AND DATE_ADD(d.lastReplayFinishedDate, INTERVAL s.autoReplayInterval SECOND) <= #{now};
                ]]>
            </if>
        </where>
    </select>

</mapper>
