<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.messagecenter.server.mapper.MessageLogMapper">

    <insert id="saveMessageLog" parameterType="com.messagecenter.common.entity.MessageLog" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
      INSERT INTO MessageLog
        (
         `id`
        ,`messageQueueInfoId`
        ,`messageRaw`
        ,`messageStatus`
        ,`failedReason`
        ,`failedRetryCount`
        ,`inUser`
        ,`inDate`
        ,`lastEditUser`
        ,`lastEditDate`
        )
        VALUES(
         #{id}
        ,#{messageQueueInfoId}
        ,#{messageRaw}
        ,#{messageStatus}
        ,#{failedReason}
        ,#{failedRetryCount}
        ,#{inUser}
        ,#{inDate}
        ,#{lastEditUser}
        ,#{lastEditDate}
        )
    </insert>
    <update id="updateMessageLog" parameterType="com.messagecenter.common.entity.MessageLog">
        UPDATE MessageLog
        SET
         messageQueueInfoId=#{messageQueueInfoId}
        ,messageRaw=#{messageRaw}
        ,messageStatus=#{messageStatus}
        ,failedReason=#{failedReason}
        ,failedRetryCount=#{failedRetryCount}
        ,inUser=#{inUser}
        ,inDate=#{inDate}
        ,lastEditUser=#{lastEditUser}
        ,lastEditDate=#{lastEditDate}
        WHERE id=#{id}
    </update>
    <select id="getMessageLogById" parameterType="int" resultType="com.messagecenter.common.entity.MessageLog">
      SELECT *
      FROM MessageLog
      WHERE id=#{_parameter}
    </select>
    <select id="getMessageLogNeedRetry" parameterType="map" resultType="com.messagecenter.common.entity.MessageLog">
        SELECT *
        FROM MessageLog
        WHERE messageStatus = #{sendToMQFailedStatus}
          AND <![CDATA[
                failedRetryCount < #{maxRetryCount}
              ]]>
    </select>

</mapper>
