<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.messagecenter.portal.mapper.MessageLogMapper">

    <select id="getLogCount"  resultType="Integer">
        SELECT count(1)
        FROM MessageLog l
        INNER JOIN MessageQueueInfo q
        ON l.messageQueueInfoId = q.id
        WHERE q.isActive = true
    </select>

    <select id="getLogList" parameterType="com.messagecenter.common.entity.base.PageInfoQuery"
            resultType="com.messagecenter.common.entity.MessageLog">
        SELECT l.*, q.messageQueueName
        FROM MessageLog l
        INNER JOIN MessageQueueInfo q
        ON l.messageQueueInfoId = q.id
        <where>
            <if test="query != null and query.messageQueueName != null and !''.equals(query.messageQueueName.trim())">
                q.messageQueueName = #{query.messageQueueName}
            </if>
            AND q.isActive = true
        </where>
        ORDER BY l.id
        LIMIT #{start}, #{pageSize}
    </select>

</mapper>
