<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.messagecenter.portal.mapper.MessageQueueInfoMapper">

    <select id="getMessageQueueInfoListCount" resultType="Integer">
        SELECT count(*) FROM MessageQueueInfo;
    </select>

    <select id="getMessageQueueInfoList" parameterType="com.messagecenter.common.entity.base.PageInfoQuery"
            resultType="com.messagecenter.common.entity.MessageQueueInfo">
        SELECT * FROM MessageQueueInfo
        <where>
            <if test="query != null and query.id != 0">
                id = #{query.id}
            </if>
            <if test="query != null and query.messageQueueName != null and !''.equals(query.messageQueueName.trim())">
                messageQueueName = #{query.messageQueueName}
            </if>
        </where>
        ORDER BY id
        LIMIT #{start}, #{pageSize}
    </select>

    <insert id="saveMessageQueueInfo" parameterType="com.messagecenter.common.entity.MessageQueueInfo">
        INSERT INTO MessageQueueInfo(
            `messageQueueName` ,
            `summary` ,
            `tags` ,
            `ownerTeamName` ,
            `publishPassword` ,
            `maxSize` ,
            `maxPendingLength` ,
            `isOrderRequired` ,
            `contactEmail` ,
            `isActive` ,
            `inUser` ,
            `inDate` ,
            `lastEditUser` ,
            `lastEditDate`
        )
        VALUES
            (
            #{messageQueueName},
            #{summary},
            #{tags},
            #{ownerTeamName},
            #{publishPassword},
            #{maxSize},
            #{maxPendingLength},
            #{isOrderRequired},
            #{contactEmail},
            #{isActive},
            #{inUser},
            #{inDate},
            #{lastEditUser},
            #{lastEditDate})
    </insert>

    <update id="updateMessageQueueInfo" parameterType="com.messagecenter.common.entity.MessageQueueInfo">
        UPDATE MessageQueueInfo
        SET
        messageQueueName=#{messageQueueName},
        summary=#{summary},
        tags=#{tags},
        ownerTeamName=#{ownerTeamName},
        publishPassword=#{publishPassword},
        maxSize=#{maxSize},
        maxPendingLength=#{maxPendingLength},
        isOrderRequired=#{isOrderRequired},
        contactEmail=#{contactEmail},
        isActive=#{isActive},
        inUser=#{inUser},
        inDate=#{inDate},
        lastEditUser=#{lastEditUser},
        lastEditDate=#{lastEditDate}
        WHERE id=#{id}
    </update>
</mapper>
