<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.messagecenter.portal.mapper.MessageQueueInfoMapper">
    <select id="getMessageQueueInfoList" resultType="com.messagecenter.portal.entity.MessageQueueInfo">
        SELECT * FROM MessageQueueInfo
    </select>
    
    <insert id="saveMessageQueueInfoList" parameterType="com.messagecenter.portal.entity.MessageQueueInfo">
        INSERT INTO MessageQueueInfo(
            `messageQueueName` ,
            `summary` ,
            `tags` ,
            `ownerTeamName` ,
            `publishPassword` ,
            `maxSize` ,
            `maxPendingLength` ,
            `isOrderRequired` ,
            `contactEmail` ,
            `isActive` ,
            `inUser` ,
            `inDate` ,
            `lastEditUser` ,
            `lastEditDate`
        )
        VALUES
            (
            #{messageQueueName},
            #{summary},
            #{tags},
            #{ownerTeamName},
            #{publishPassword},
            #{maxSize},
            #{maxPendingLength},
            #{isOrderRequired},
            #{contactEmail},
            #{isActive},
            #{inUser},
            #{inDate},
            #{lastEditUser},
            #{lastEditDate})
    </insert>
</mapper>
