<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.messagecenter.portal.mapper.SubscriberMapper">

    <select id="getSubscriberCountByMessageQueueID" parameterType="Integer" resultType="Integer">
        SELECT count(*) FROM MessageQueueSubscriber
        <where>
            <if test="_parameter != 0">
                messageQueueId = #{_parameter}
            </if>
        </where>
    </select>

    <select id="getSubscriberList" parameterType="com.messagecenter.common.entity.base.PageInfoQuery"
            resultType="com.messagecenter.common.entity.MessageQueueSubscriber">
        SELECT * FROM MessageQueueSubscriber
        <where>
            <if test="query != null and query.id != 0">
                id = #{query.id}
            </if>
            <if test="query != null and query.messageQueueId != 0">
                messageQueueId = #{query.messageQueueId}
            </if>
            <if test="query != null and query.subscriberApiUrl != null and !''.equals(query.subscriberApiUrl.trim())">
                subscriberApiUrl = #{query.subscriberApiUrl}
            </if>
        </where>
        ORDER BY id
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="getSameUrlSubscriberCount" parameterType="com.messagecenter.common.entity.MessageQueueSubscriber"
            resultType="Integer">
        SELECT COUNT(1) FROM MessageQueueSubscriber
        <where>
            id != #{id}
            AND
            subscriberApiUrl = #{subscriberApiUrl}
        </where>
    </select>
    <insert id="saveSubscriber" parameterType="com.messagecenter.common.entity.MessageQueueSubscriber">
        INSERT INTO MessageQueueSubscriber(
             `messageQueueId`
            ,`subscriberApiUrl`
            ,`retryCount`
            ,`isAutoReplay`
            ,`autoReplayInterval`
            ,`failedNotifyEmail`
            ,`isActive`
            ,`inUser`
            ,`inDate`
            ,`lastEditUser`
            ,`lastEditDate`
        )
        VALUES(
             #{messageQueueId}
            ,#{subscriberApiUrl}
            ,#{retryCount}
            ,#{isAutoReplay}
            ,#{autoReplayInterval}
            ,#{failedNotifyEmail}
            ,#{isActive}
            ,#{inUser}
            ,#{inDate}
            ,#{lastEditUser}
            ,#{lastEditDate}
        )
    </insert>

    <update id="updateSubscriber" parameterType="com.messagecenter.common.entity.MessageQueueSubscriber">
      UPDATE MessageQueueSubscriber
      SET
         messageQueueId=#{messageQueueId}
        ,subscriberApiUrl=#{subscriberApiUrl}
        ,retryCount=#{retryCount}
        ,isAutoReplay=#{isAutoReplay}
        ,autoReplayInterval=#{autoReplayInterval}
        ,failedNotifyEmail=#{failedNotifyEmail}
        ,isActive=#{isActive}
        ,inUser=#{inUser}
        ,inDate=#{inDate}
        ,lastEditUser=#{lastEditUser}
        ,lastEditDate=#{lastEditDate}
      WHERE id=#{id}
    </update>


</mapper>
